
  #container {
    background-color: white;
    width: 100%;
    height: 200px;
    -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
    -webkit-perspective-origin: 50% 100px;
  }
  #stage {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 2s;
    -webkit-transform-style: preserve-3d;
  }
  
  #shape {
    position: relative;
    top: 50px;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    -webkit-transform-style: preserve-3d;
  }
  
  .plane {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    -webkit-border-radius: 12px;
    -webkit-box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-family: Times, serif;
    font-size: 45pt;
    color: white;
    background-color: rgba(1, 1,1, 0.6);
    -webkit-transition: -webkit-transform 2s, opacity 2s;
    -webkit-backface-visibility: hidden;
  }

  #shape.backfaces .plane {
    -webkit-backface-visibility: visible;
  }
  
  #shape {
    -webkit-animation: spin 8s infinite linear;
  }

  @-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
  }
  /* ---------- ring styles ------------- */
  .ring > .one {
    -webkit-transform: translateZ(200px);
  }

  .ring > .two {
    -webkit-transform: rotateY(40deg) translateZ(200px);
  }

  .ring > .three {
    -webkit-transform: rotateY(80deg) translateZ(200px);
  }

  .ring > .four {
    -webkit-transform: rotateY(120deg) translateZ(200px);
  }

  .ring > .five {
    -webkit-transform: rotateY(160deg) translateZ(200px);
  }

  .ring > .six {
    -webkit-transform: rotateY(200deg) translateZ(200px);
  }

  .ring > .seven {
    -webkit-transform: rotateY(240deg) translateZ(200px);
  }

  .ring > .eight {
    -webkit-transform: rotateY(280deg) translateZ(200px);
  }

  .ring > .nine {
    -webkit-transform: rotateY(320deg) translateZ(200px);
  }


  .controls {
    width: 80%;
    margin: 0 auto;
    -webkit-border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .controls > div {
    margin: 10px;
  }