---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
            <a href="{{"/resume" | relative_url }}" style="color:white">
              <span class="subheading" >
                Click here to see my resume
              </span></a>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div id="container">
    <div id="stage">
      <div id="shape" class="ring backfaces">
        <div class="plane one">
          <i class="fab fa-docker"></i>
        </div>
        <div class="plane two"><i class="fas fa-database"></i></div>
        <div class="plane three"><i class="far fa-file-code"></i></div>
        <div class="plane four"><i class="fas fa-layer-group"></i></div>
        <div class="plane five"><i class="fab fa-android"></i></div>
        <div class="plane six"><i class="fab fa-app-store-ios"></i></div>
        <div class="plane seven"><i class="fab fa-java"></i></div>
        <div class="plane eight"><i class="fab fa-github"></i></div>
        <div class="plane nine"><i class="fab fa-python"></i></div>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
